div {
  width: 500px;
  margin: 0 auto;
}
h1 {
  margin: 3px 0;
  padding: 0 20px;
  background-color: antiquewhite;
  border: 2px solid rgb(247, 148, 18);
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.delete {
  padding: 7px 15px;
  border: 2px solid red;
  color: #fff;
  background-color: rgba(255, 0, 0, 0.541);
  cursor: pointer;
}
